<template>
  <main class="mx-auto w-3/4">
    <header-navigation />
    <section>
      <h2>
        Имя реестра
      </h2>
      <div class="block_table">
        <div class="table__row">
          <p v-for="(index, j) in 15" :key="i+j+'col'">
            {{ `test test _ ${j}` }}
          </p>
        </div>
        <div v-for="(item, i) in 15" :key="`row_${i}`" class="table__row">
          <input readonly v-for="(index, j) in 15" :key="i+j+'column'" :value="`test test ${i} _ ${j}`">
        </div>
      </div>
    </section>
  </main>
</template>
<script>
export default {
  name: 'Table'
}
</script>
<style scoped>
/* main h2{
  @apply text-3xl text-titleColor my-12;
}
.block_table{
  @apply w-full overflow-x-auto pb-3;
}
.table__row{
  @apply flex border-b;
}
.table__row:first-child{
  @apply border-t bg-blue-200;
  width: fit-content;
}
input, p{
  @apply w-40 px-4 py-2;
} */
p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.block_table::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #e4e3e3;
  border-radius: 6px;
}
.block_table::-webkit-scrollbar-track {
  height: 7px;
  width: 7px;
  -webkit-box-shadow: none;
  border-radius: 6px;
  background: #ececec;
}
.block_table::-webkit-scrollbar-thumb {
  border-radius: 6px;
  height: 10px;
  -webkit-box-shadow: none;
  background: rgba(177, 177, 177, 0.8);
}
</style>
