<template>
  <main class="mx-auto w-3/4">
    <header-navigation />
    <list-specific-user :userInfo="userInfoDetail"/>
  </main>
</template>
<script>
export default {
  name: 'user',
  data () {
    return {
      userInfoDetail: {
        fullName: 'Юдин Людвиг Леонидович',
        registers: [
          {
            name: 'test 1'
          },
          {
            name: 'test 2'
          },
          {
            name: 'test 3'
          }
        ]
      }
    }
  }
}
</script>
<style scoped>
</style>
