<template>
  <section @click.self="closeModal">
    <div class="modal">
      <div class="title_close">
        <h3> Добавление пользователя </h3>
        <img src="@/assets/img/close.svg" alt="close" @click="closeModal">
      </div>

      <form action="">
        <base-input v-for="(item, i) in formaData" :key="'input'+i" :forma="item" />
        <div class="shadow_element"></div>
        <button type="submit">Сохранить</button>
      </form>
    </div>
  </section>
</template>
<script>
export default {
  name: 'MainModal',
  data () {
    return {
      formaData: [
        {
          name: 'lastName',
          type: 'text',
          title: 'Фамилия'
        },
        {
          name: 'firstName',
          type: 'text',
          title: 'Имя'
        },
        {
          name: 'patronymic',
          type: 'text',
          title: 'Отчество'
        },
        {
          name: 'email',
          type: 'email',
          title: 'Email'
        },
        {
          name: 'password',
          type: 'password',
          title: 'Пароль'
        }
      ]
    }
  },
  methods: {
    closeModal () {
      this.$emit('close', false)
    }
  }
}
</script>
<style scoped>
/* section{
  @apply fixed inset-0 w-full h-full flex justify-center items-center bg-modalBack;
}
.modal{
  @apply w-1000 p-10 bg-white rounded-md;

}
.title_close{
  @apply flex justify-between items-center mb-8;
}
h3{
  @apply text-3xl text-titleColor mr-10;
}
img{
  @apply w-5 h-5 cursor-pointer -mt-6;
}

form{
  @apply flex flex-wrap justify-between;
}
button{
  @apply bg-blue-100 rounded-md px-4 py-1 mt-2;
}
.shadow_element{
  @apply w-48%;
} */
</style>
