<template>
  <div>
    <label :for="forma.name"> {{ forma.title }} </label>
    <input :id="forma.name" :type="forma.type" :name="forma.name" autocomplete="new-password" required>
  </div>
</template>
<script>
export default {
  name: 'BaseInput',
  props: {
    forma: {
      type: Object
    }
  }
}
</script>
<style scoped>
/* div{
  @apply mb-4 w-48% flex flex-col;
}
label{
  @apply w-full text-lg text-titleColor;
}
input{
  @apply outline-none border-b border-solid text-lg;
} */
</style>
