<template>
  <main class="mx-auto w-3/4">
    <header-navigation :tab="tab" />
    <component :is="putComponents.editTabs[tab].name" @displayModal="displayModal" />

    <transition name="fade">
      <main-modal v-if="modalShow" @close="displayModal"/>
    </transition>

  </main>
</template>

<script>
export default {
  props: {
    tab: {
      type: Number,
      required: false,
      default: 0
    }
  },
  data () {
    return {
      modalShow: false,
      current: 0,
      putComponents: {
        editTabs: [
          {
            name: 'ListUsers'
          },
          {
            name: 'ListRegistries'
          }
        ]
      }
    }
  },
  methods: {
    displayModal (event) {
      this.modalShow = event
    }
  }
}
</script>
<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
