<template>
  <section>
    <div class="add_user" @click="clickButton(true)">
      <p class="icon_button">
        +
      </p>
      <p>
        Добавить пользователя
      </p>
    </div>
    <ul>
      <li v-for="(user, i) in listUser" :key="`user_${i}`">
        <nuxt-link :to="`/${i}/user`">
          <img src="@/assets/img/user.svg" alt="">
          <p> {{ user.fullName }}</p>
        </nuxt-link>
      </li>
    </ul>
  </section>
</template>
<script>
export default {
  name: 'ListUsers',
  data () {
    return {
      listUser: [
        {
          fullName: 'Юдин Людвиг Леонидович'
        },
        {
          fullName: 'Калашников Гарри Альвианович'
        },
        {
          fullName: 'Константинов Петр Дамирович'
        },
        {
          fullName: 'Соболева Снежана Богуславовна'
        },
        {
          fullName: 'Носова Амира Владиславовна'
        },
        {
          fullName: 'Кабанова Архелия Яковлевна'
        },
        {
          fullName: 'Игнатова Гелла Альвиановна'
        }
      ]
    }
  },
  methods: {
    clickButton (event) {
      this.$emit('displayModal', event)
    }
  }
}
</script>
<style scoped>
/* .add_user {
  @apply flex cursor-pointer mb-10;
}
.add_user p:last-child{
  @apply text-blue-500;
}
.add_user p:first-child{
  @apply w-6 mr-2 text-2xl text-blue-500 border-blue-500 border-dashed border-2 rounded text-center;
  line-height: 76%;
}

a{
  @apply flex transition;
}
a:hover{
  @apply text-blue-500;
}
img{
  @apply mr-4;
}
ul{
  @apply flex flex-wrap text-base border-2 border-grayBorder rounded-lg px-7 py-5 mt-4;
}
li{
  @apply mt-4 w-1/2;
}
i{
  @apply bg-iconLink bg-center bg-no-repeat p-1 ml-2;
} */
</style>
