<template>
  <section>
    <div class="element_list" v-for="(item, i) in listRegester" :key="`register_${i}`">
      <div class="title_function">
        <h3>
          {{ item.title }}
        </h3>
        <img src="../../assets/img/garbage.svg" alt="" @click="deleteRegister(i)">
      </div>

      <nuxt-link to="/111">
        Посмотреть данные реестра <i> </i>
      </nuxt-link>
      <p class="user_label">
        Пользователи реестра
      </p>
      <ul>
        <li v-for="(user, j) in item.users" :key="`user_${j}`">
          <img src="@/assets/img/user.svg" alt="">
          <p> {{ user.fullName }}</p>
        </li>
      </ul>
    </div>
  </section>
</template>
<script>
export default {
  name: 'ListRegister',
  data () {
    return {
      listRegester: [
        {
          title: 'Обращения',
          users: [
            {
              fullName: 'Юдин Людвиг Леонидович'
            },
            {
              fullName: 'Калашников Гарри Альвианович'
            },
            {
              fullName: 'Константинов Петр Дамирович'
            },
            {
              fullName: 'Соболева Снежана Богуславовна'
            },
            {
              fullName: 'Носова Амира Владиславовна'
            },
            {
              fullName: 'Кабанова Архелия Яковлевна'
            },
            {
              fullName: 'Игнатова Гелла Альвиановна'
            }
          ]
        },
        {
          title: 'Обращения 2',
          users: [
            {
              fullName: 'Юдин Людвиг Леонидович'
            },
            {
              fullName: 'Калашников Гарри Альвианович'
            },
            {
              fullName: 'Константинов Петр Дамирович'
            },
            {
              fullName: 'Соболева Снежана Богуславовна'
            }
          ]
        },
        {
          title: 'Обращения 45',
          users: [
            {
              fullName: 'Юдин Людвиг Леонидович'
            },
            {
              fullName: 'Калашников Гарри Альвианович'
            },
            {
              fullName: 'Константинов Петр Дамирович'
            },
            {
              fullName: 'Соболева Снежана Богуславовна'
            },
            {
              fullName: 'Носова Амира Владиславовна'
            },
            {
              fullName: 'Кабанова Архелия Яковлевна'
            },
            {
              fullName: 'Игнатова Гелла Альвиановна'
            }
          ]
        }
      ]
    }
  },
  methods: {
    deleteRegister (event) {
      alert('удалить')
    }
  }
}
</script>
<style scoped>
/* .element_list{
  @apply text-base border-2 border-grayBorder rounded-lg px-7 py-5 mt-4;
}
.title_function {
  @apply flex justify-between mb-4;
}
.title_function img {
   cursor: pointer
 }
.element_list h3{
  @apply text-xl text-titleColor;
}
a{
  @apply text-blue-500;
}
.user_label{
  @apply text-titleColor mt-3 mb-1;
}
img{
  @apply mr-4;
}
ul{
  @apply flex flex-wrap;
}
li{
  @apply mt-4 w-1/2 flex cursor-pointer;
}
i{
  @apply bg-iconLink bg-center bg-no-repeat p-1 ml-2;
} */
</style>
