<template>
  <section>
    <h3> {{ userInfo.fullName }} </h3>
    <div class="block_button">
      <button> Сбросить пароль </button>
      <button> Удалить пользователя </button>
    </div>
    <ul>
      <li v-for="(item, i) in userInfo.registers" :key="`register_in_user_${i}`">
        <nuxt-link to="/1111">
          {{ item.name }}
        </nuxt-link>
        <img src="../../assets/img/garbage.svg" alt="" @click="deleteRegister(i)">
      </li>
    </ul>
  </section>
</template>
<script>
export default {
  name: 'SpecificUser',
  props: {
    userInfo: {
      type: Object
    }
  },
  methods: {
    deleteRegister (event) {
      alert()
    }
  }
}
</script>
<style scoped>
/* section {
  @apply text-base border-2 border-grayBorder rounded-lg px-7 py-5 mt-4 transition-all;
}
h3{
  @apply text-xl text-titleColor;
}
.block_button{
  @apply flex;
}
button{
  @apply my-3 mr-12 text-blue-400 rounded-xl py-2 px-4 duration-300;
}
button:last-child{
  @apply text-red-400;
}
button:hover{
  @apply bg-blue-50;
}
button:last-child:hover{
  @apply bg-red-50;
}

ul li::before {
  content: '';
  @apply bg-blue-400 w-2 h-2 rounded-full absolute;
}
li {
  @apply mb-3 px-4 py-2 flex items-center justify-between cursor-pointer transition-all;
}
li:hover{
  @apply bg-gray-50;
}
a{
  @apply ml-5;
} */
</style>
