<template>
  <header class="my-7 flex justify-between items-center">
    <nuxt-link to="/" class="flex items-center">
      <p class="text-3xl text-white rounded-2xl py-2 px-4 flex items-center justify-center bg-blue-400">
        Admin
      </p>
      <p class="vertical-text">
        панель
      </p>
    </nuxt-link>
    <nav>
      <nuxt-link
        v-for="(item, i) in urlList"
        :key="`link_menu_${i}`"
        :to="item.url"
        :class="['ml-10', { 'active_tab': tab === i }]"
      >
        {{ item.title }}
      </nuxt-link>
    </nav>
  </header>
</template>
<script>
export default {
  name: 'HeaderNavigation',
  props: {
    tab: {
      type: Number,
      required: false,
      default: null
    }
  },
  data () {
    return {
      urlList: [
        {
          title: 'Пользователи',
          url: '/tabs/list-users'
        },
        {
          title: 'Реестры',
          url: '/tabs/list-registries'
        }
      ]
    }
  }
}
</script>
<style>
.vertical-text{
    text-align: center;
    font-size: 1.5rem;
    line-height: 90%;
    margin-left: .7rem;
}
.active_tab{
  /* @apply border-b-2 border-blueBorder text-blue-500 pb-1; */
}
</style>
